@charset "utf-8";
@font-face {
    font-family: 'Open 24 Display St';
    src: url('../_font/Open24DisplaySt.woff2') format('woff2'),
        url('../_font/Open24DisplaySt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, html {margin: 0px; font-family: sans-serif; -webkit-text-size-adjust: 100%; background-color: #3c3b3b; }
